<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventbooking.sign.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="com.eventbooking.sign.model.TUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="last_login_date" jdbcType="DATE" property="lastLoginDate" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="login_date" jdbcType="DATE" property="loginDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eventbooking.sign.model.TUser">
    insert into t_user (id, username, password, 
      email, mobile_phone, address, 
      last_login_date, login_count, user_type, 
      login_date)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{lastLoginDate,jdbcType=DATE}, #{loginCount,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}, 
      #{loginDate,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.eventbooking.sign.model.TUser">
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      last_login_date = #{lastLoginDate,jdbcType=DATE},
      login_count = #{loginCount,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=INTEGER},
      login_date = #{loginDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getUserByNamePassword" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, username, password, email, mobile_phone, address, last_login_date, login_count,
    user_type, login_date
    from t_user where username = #{arg0,jdbcType=VARCHAR} and password =  #{arg1,jdbcType=VARCHAR}
  </select>

  <select id="countUserName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from t_user where username = #{arg0,jdbcType=VARCHAR}
  </select>

</mapper>